@import '../../styles/';

.retroBorder {
}

.octogonOuter {
  background-color: $retroDarkBrown;
  @include clip(0.8em);
}
.octogonMiddle {
  @include clip(0.6em);
  background-color: $retroBrown;
}
.octogon {
  transition-delay: 300ms;
  @include clip(0.5em);
  background-color: $retroOrange;
}
.octogonContent {
  @include clip(0);
  background-color: $retroCream;
}
