@import '../../styles/';

.button {
  @include set3;
  color: $retroCream;
  font-size: 20px;
  font-weight: 300;
  background-image: linear-gradient(
    to left bottom,
    $retroBlack,
    darken($retroDarkBrown, 20%)
  );
  padding: 10px 30px;
  border-radius: 3px;
  letter-spacing: 1px;
  @include boxShaddow;

  &:focus-visible {
    outline: $retroOrange solid 3px;
    outline-offset: 1px;
  }
}
