@import '../../styles/';

.button {
  @include set3;
  color: $retroCream;
  font-weight: 400;
  background-image: linear-gradient(
    to left bottom,
    lighten($retroBlack, 10%),
    darken($retroDarkBrown, 15%)
  );
  padding: 10px 30px;
  border-radius: 4px;
  letter-spacing: 1px;
  transition: all 300ms ease-out;

  &:focus-visible {
    outline: $retroOrange solid 3px;
    outline-offset: 1px;
  }
  &:hover {
    transition: all 250ms ease-in;
    transform: translateY(-0.5px);
    @include boxShaddow(-0.9);
  }
}
