@import '../../styles/';

.button {
  @include set3;
  color: $retroCream;
  font-size: 20px;
  font-weight: 300;
  background-image: linear-gradient(
    to left bottom,
    $retroBlack,
    darken($retroOrange, 35%)
  );
  padding: 10px 30px;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 300ms ease-out;

  &:focus-visible {
    outline: $retroOrange solid 3px;
    outline-offset: 1px;
  }
  &:hover {
    transition: all 250ms ease-in;
    transform: translateY(-1px);
    @include boxShaddow(-0.9);
  }
}
