/*  Blue */
$midnight-blue: #03045e;
$dark-cornflower-blue: #023e8a;
$star-command-blue: #0077b6;
$blue-green: #0096c7;
$pacific-blue: #00b4d8;
$sky-blue-crayola: #48cae4;
$middle-blue: #90e0ef;
$blizzard-blue: #ade8f4;
$light-cyan: #caf0f8;

/* Gray */
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$placeholder-gray: #a0a6be;
$sonic-silver: #6c757dff;
$davys-grey: #495057ff;
$onyx: #343a40ff;
$onyx-transparent: rgba(52, 58, 64, 0.075);
$eerie-black: #212529ff;
$eerie-black-transparent: hsla(210, 11%, 15%, 0.075);

/* Retro */

$retroBlue: #a0d1c9;
$retroGray: #d5d2c2;
$retroCream: #f8ead4;
$retroOrange: #f68d2f;
$retroBrown: #b76126;
$retroDarkBrown: #8b391b;
$retroBlack: #352921;

$errorRed: rgb(247, 33, 33);
