@import './fonts';
@import './variables';
@import 'neat-form-builder/dist/style.css';

html,
body {
  padding: 0;
  margin: 0;
  background: $retroCream;
}
* {
  // font-family: 'Bonkus', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  //   Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $retroBlack;
  line-height: 1.2;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
