@import '../styles/index.scss';

.main {
  @include flexColumnCenter;
  justify-content: center;
  flex: 1 1 auto;

  .hello {
    padding: 20px 80px;
    text-align: center;
    background-color: $retroCream;
    font-size: 100px;
    font-weight: 900;
    font-family: 'Pump';
  }
}

.nameTag {
  margin-bottom: 50px;
  @include mobile {
    width: 350px;
    height: 225px;
  }
}

.octogonContent {
  flex: 1 1 auto;
  @include flexColumn;
  .headline {
    background-color: $retroBlack;
    padding-left: 12%;
    h1 {
      color: $retroCream;
      align-self: flex-start;
      font-size: 50px;
      @include mobile {
        font-size: 30px;
      }
    }
    h2 {
      color: $retroCream;
      margin-top: -16px;
      padding: 0 0 6px 40px;
      @include mobile {
        margin-top: -8px;
        font-size: 20px;
      }
    }
  }
  .name {
    flex: 1 1 auto;
    height: 100%;
    @include flexCenterCenter;
    h3 {
      font-size: 70px;
      padding-bottom: 16px;
      font-family: 'Pump';
      text-align: center;
      @include mobile {
        font-size: 45px;
      }
    }
  }
}
